.csv
dummy.csv
dummy2.csv
dummy3.csv
.temp.csv
build/bdist.macosx-10.14-x86_64
build/lib
dist/etx-sum-0.0.1.tar.gz
dist/etx_sum-0.0.1-py3-none-any.whl
etx_sum.egg-info
dist/etx-sum-0.0.2.tar.gz
dist/etx_sum-0.0.2-py3-none-any.whl
dist/etx_sum-0.0.2-py3.7.egg
dist
pycache
etx/__pycache__
etx/__pycache__/__init__.cpython-37.pyc
